:root {
    --primary-text-clr: #FAFAFA;
    --secondary-text-clr: #cccccc;
    --accent-text-clr: #247f87;
    --primary-btn-clr: #7e3817;
    --link-before-clr: #D7DDDD;
    --link-after-clr: #A9ACAB;
    --primary-background-clr: #25373B;
    --secondary-background-clr: #547073;
    --btn-border-clr: #A9ACAB;
}

* {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
}

div {
    display: flex;
}

img {
    height: 100vh;
    width: auto;
}

#img-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    height: 100px;
    width: 571.758px;
    top: 130px;
    background-color: rgba(126, 56, 23, 0.5);
    font-size: 24px;
}

button {
    background-color: var(--primary-btn-clr);
    color: var(--primary-text-clr);
    border: 2px solid var(--btn-border-clr);
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    height: auto;
    font-size: 18px;

}

#form-container,
#form-header-sec,
#form-footer-sec {
    display: flex;
    flex-direction: column;
}

#form-header-sec {
    margin: 40px;
    gap: 15px;
    color: var(--primary-text-clr);
}

#form-container {
    background-color: var(--primary-background-clr);
    gap: 10px;
    padding-top: 100px;
}

#form-info-sec {
    display: flex;
    background-color: var(--secondary-background-clr);
    padding: 20px;
    margin: 20px 0;
    color: var(--primary-text-clr);
}

#form-footer-sec {
    color: var(--secondary-text-clr);
    margin: 0 20px 20px 20px;
    gap: 20px;
}

a {
    color: var(--link-before-clr);
}

a:visited {
    color: var(--link-after-clr);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.form-items {
    display: flex;
    gap: 5px;
}

#name-info,
#contact-info,
#password-info {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

#form-info-holder {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-element {
    display: flex;
    flex-direction: column;
}

input[type=text] {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}